<script type="text/javascript">

$(document).ready(function() {
  $.fn.read_spaced = function() {
    if (this.children("div").length > 0) {
      return this.children("div").map(function(){return $(this).text().trim();}).get().join("\n").trim();
    } else {
      return this.text().trim();
    }
  }

  $('.action-download').click(function() {
    // ripped from https://ourcodeworld.com/articles/read/189/how-to-create-a-file-and-generate-a-download-with-javascript-in-the-browser-without-a-server
    var text = $(".text-area-editable").read_spaced() + '\n'
    var e = document.createElement('a');
    e.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    e.setAttribute('download', "edited.txt");
    e.style.display = 'none';
    document.body.appendChild(e);
    e.click();
    document.body.removeChild(e);
  });

  $('.action-accept-edits').click(function() {
    console.log($(".edit-suggestions").html());
    $(".edit-suggestions span.edit-hoverable").each(function() {
      console.log($(this));
      $(this).text($(this).attr("suggest"));
    });
    $(".text-area-editable").empty().html($(".edit-suggestions").html());
    $(".edit-suggestions").empty();
    $("footer.edit-footer").addClass("undisplayed");
  });

  function range(start, end) {
      var array = new Array();
      for(var i = start; i < end; i++) {
          array.push(i);
      }
      return array;
  }

  function sortByKeyDesc(array, key) {
        return array.sort(function (a, b) {
            var x = a[key]; var y = b[key];
            return ((x > y) ? -1 : ((x < y) ? 1 : 0));
        });
    }

  // edition handler
  $(".text-area-editable").bind("keyup change", function () {
    //TODO: this is horrible and could probably benefit from cleanup
    var curtext = $(this).read_spaced();
    $.ajax({
      url: $(this).attr("edit-tgt-handler"),
      data: {
        'text': curtext
      },
      dataType: 'json',
      success: function (data) {
        $(".edit-suggestions").empty();
        var parsed = eval(data);
        var orig_data = parsed.orig_data;
        delete parsed.orig_data;
        var sugg_edits = []
        for (var k in parsed) {
            for (var i in parsed[k]) {
              [b,e,swap] = parsed[k][i];
              sugg_edits.push([b,e,swap,k]);
            }
          }
        // drop overlapping
        var no_overlap = Array.from({length: orig_data.length}).fill(false);
        var vals = [];
        valid_edits : for (var sugg in sugg_edits) {
          [b,e,swap,k] = sugg_edits[sugg];
          for (var i in range(b,e)) {
            if (no_overlap[i]) {
              console.log("removing" + sugg_edits[sugg]);
              continue valid_edits;
            }
          }
          vals.push([b,e,swap,k]);
          for (var i in range(b,e)) {
            no_overlap[i] = true;
          }
        }
        vals_sorted = sortByKeyDesc(vals, 1)
        for (var i in vals_sorted) {
          [b,e,swap,k] = vals_sorted[i];
          orig_data = orig_data.substring(0,b) + '<span class="edit-hoverable '+k+'" suggest="' + swap + '">' + orig_data.substring(b,e) + '</span>' + orig_data.substring(e, orig_data.length);
        }
        $(".edit-suggestions").html('<div>' + orig_data.trim().replace(/(?:\r\n|\r|\n)/g, '</div><div>') + '</div>');
        $("footer.edit-footer").removeClass("undisplayed");
      }
    });
  });

  // prediction handler
  $(".text-area-editable").bind("keyup change", function () {
      var curtext = $(this).read_spaced();
      $.ajax({
        url: $(this).attr("pred-tgt-handler"),
        data: {
          'text': curtext
        },
        dataType: 'json',
        success: function (data) {
          $(".predict-suggestions").empty()
          var parsed = eval(data)
          delete parsed.orig_data;
          for (var k in parsed) {
            for (var predword in parsed[k]) {
              $(".predict-suggestions").append('<span class="prediction ' + k +'">' + parsed[k][predword] + '</span>');
            }
          }
        }
      });
    });
  });
</script>
