{% load static %}
<html>
    <head>
        <title>Lexical Resources Class - Smart Editor</title>
        <style>
          {% include "editor/definitely_not_static/editor.css" %}
        </style>
        <script >
          {% include "editor/definitely_not_static/jquery.js" %}
        </script>
        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        <header class="page-header">
            <h1><a href="{% url 'editor' %}">Online Text Editor</a></h1>
        </header>

        <main>
          {% block content %}
          {% endblock %}
        </main>
    </body>
</html>
